.weatherTodayWrap {
  display: block;
  margin: auto;
  width: 100%;
}
.weatherTodayContainer {
  width: 60%;
  display: block;
  margin: auto;
  margin-top: 20px;
  max-width: 400px;
}
.weatherPositioning {
  display: block;
  margin: auto;
  width: 75%;
}
.leftBox {
  float: left;
}
.leftBox h2 {
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0;
}
.leftBox p {
  font-weight: 400;
  color: #5a6275;
  font-size: 14px;
  line-height: 16px;
}
.rightBox {
  margin-right: 0;
}
.rightBox h2 {
  font-weight: 500;
  margin-bottom: 0;
}
.rightBox {
  text-align: right;
}
.rightBox p {
  color: #5a6275;
  font-size: 14px;
  line-height: 16px;
}
.centralBox {
  margin: auto;
  display: block;
  width: 80px;
}

.centralBox h1 {
  opacity: 80%;
  position: absolute;
  z-index: -1;
  margin-top: -15px;
}
@media (max-width: 450px) {
  .weatherTodayContainer {
    width: 65%;
  }
  .weatherPositioning {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .weatherTodayContainer {
    width: 75%;
  }
  .weatherPositioning {
    width: 100%;
  }
}
